@model MvcFirstProject.Models.Blog

@{
    ViewBag.Title = "Details";
}


<h1>@Model.BlogName</h1>
<hr />
<p>
    <span class="glyphicon glyphicon-time"></span>
    @Model.Date
</p>
<hr />
<img class="img-responsive" src="~/Content/img/1.png" alt="Resim Yok" />
<hr />
<blockquote>
    <p>@Model.Description</p>
</blockquote>
<p>@Model.Contents</p>

<div class="comment">
    <div class="well">
        <h4>Yorum Yap</h4>
        <form role="form">
            <div class="form-group">
                <textarea class="form-control" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
</div>
<div class="media">
    <img src="https://via.placeholder.com/64x64.png" class="mr-3" alt="...">
    <div class="media-body">
        <h5 class="mt-0">Comment Row</h5>
        <p>Will you do the same for me? It's time to face the music I'm no longer your muse. Heard it's beautiful, be the judge and my girls gonna take a vote. I can feel a phoenix inside of me. Heaven is jealous of our love, angels are crying from up above. Yeah, you take me to utopia.</p>
    </div>
</div>
<hr />
<div>
    @Html.ActionLink("Back to Lİst", "Index", "Home", null, new { @class = "btn btn-warning btn-md" })
</div>

@section SideBar{
    @{Html.RenderAction("CategoryList", "Category");}
}




